# Remove the insert files

insert_orders.py
insert_products.py

# Remove all cache

__pycache__/

# Ignore vercel files until finalised

node_modules/
vercel.json
package.json
yarn.lock

# Ignore migrations folder

migrations/